Adafruit-Blinka==8.56.0
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-neopixel==6.3.15
adafruit-circuitpython-pixelbuf==2.0.7
adafruit-circuitpython-requests==4.1.10
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
cbor2==5.6.5
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
idna==3.10
luma.core==2.4.2
luma.oled==3.14.0
pillow==11.2.1
pycparser==2.22
pyftdi==0.56.0
pyserial==3.5
pyusb==1.3.1
requests==2.32.3
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
smbus2==0.5.0
spidev==3.6
srt==3.5.3
sysv_ipc==1.1.0
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.4.0
vosk==0.3.45
websockets==15.0.1
